* {
  padding: 0;
  margin: 0;

}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {

  height: 100px;
  background-color: aliceblue;

}

header img {
  width: 120px;
  height: 100px;
  padding-left: 100px;
}

nav {
  height: 35px;
  background: #92b9a3;
}

nav .menu ul {
  display: flex;
  list-style: none;
}

nav .menu ul li {
  line-height: 35px;
  padding: 0 15px;
}

nav .menu ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}


/* .cot1, .cot2, .cot3 {
    display: inline-block;
    width: 33%;
    height: 100px;
  }
  
  .cot1 {
    padding: 10px;
    margin-left: 0;
    width: 200px;
    margin-right: 600px;
    float: left;
  }
  
  .cot1 a {
    text-decoration: none;
  }
  
  .cot1 img {
    width: 200px;
    
    margin-top: 30px;
  }
  
  

 div .cot2{
    width: 500px;
    padding: 10px;
    margin-left: 300px;
    margin-top: -90px;
    margin-right: 50px;
    
 }

 div.cot2 a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 20px;
    color: rgb(21, 124, 124);
}
div.cot2 p{
    display: flex;
    
    font-size: 14px;
    color: rgb(18, 18, 20);
    margin: 10px ;
}

div.cot2 a img {
    margin-bottom: 15px;
}

 .cot3 {
    padding: 10px;
    margin-right: 0;
    width: 200px;
     margin-top: -90px;
    float: right;
  }
  
  .cot3 a {
    text-decoration: none;
    
  }
  
  .cot3 img {
    width: 200px;
    margin-bottom: 15px;
   
  }
.content {
  display: grid;
  column-gap: 50px;
} */
.cot1, .cot2, .cot3 {
  position: relative;
}
.content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20% 50% 30%;

}
.cot1 img {
  width: 100%;
}
.cot2 img {
  width: 100%;
}
.cot3 img {
  width: 100%;
}